/** 
 * Event Listing Global styles
 */
:root {
    --wpem-dark-color: var(--global-palette3);
}

.wpem-main b, .wpem-main strong {
    font-weight: 400;
}

.vma-event-full-width-wrap {
    padding-top: 60px;
    background-position: bottom left;
    background-repeat: no-repeat;
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

/** 
 * Event sidebar component
 */
.vma-event-sidebar {
    margin-bottom: 60px;
    line-height: inherit;
}
/** Elementor delayed CSS application glitches */
.vma-event-sidebar .jet-custom-nav > .jet-custom-nav__item > a {
    transition: none;
    background-color: initial;
}


/**
 * Event card/list-item component
 */
.wpem-event-listings .wpem-event-layout-wrapper .wpem-event-infomation .wpem-event-date .wpem-event-date-type .wpem-from-date .wpem-date {
    font-weight: 500;
}


/**
* Closing Hero component
*/
.vma-event-bottom-hero {
    overflow: hidden;
}


/**
 * Event Listing Post Type Archive
 */
.post-type-archive .wpem-event-listing-type-page-title {
    display: none;
}


/**
 * Event Listing Archive pages / single event container
 */
.vma-event-archive-title__text {
    margin-bottom: 20px;
    line-height: 1em;
}

.vma-event-archive-title__description,
.vma-event-archive-title__description p {
    font-size: 24px;
}

.wpem-event-listing-list-view.wpem-event-listings .wpem-event-layout-wrapper .event_listing {
    background-color: white;
}
.wpem-event-listing-type-page .wpem-event-listing-type-page-wrapper {
    margin-top: 0;
}

.wpem-event-listing-type-page-title {
    margin-top: 0;
}

/**
 * Event Listing Single Page
 */
.wpem-single-event-page .wpem-heading-text {
    font-weight: 400;
}
.wpem-event-listings .wpem-event-layout-wrapper .wpem-event-infomation .wpem-event-details .wpem-event-title .wpem-heading-text {
    font-weight: 400;
}
body.single-event_listing .wpem-event-listing-type-page-title {
    display: none;
}


/**
 * Breakpoints for WP Event Manager bundled CSS framework
 *  * sm   576px
 *  * md   768px
 *  * lg   992px
 *  * xl   1200px
 *  * 
 */
@media screen and (min-width: 576px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {
    .vma-event-sidebar {
        padding: 0 6%;
        margin-bottom: 60px;
    }
}
@media screen and (min-width: 1200px) {}

body .vma-event--after_style_load {
    visibility:visible;
}